@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
.inner{
    max-width: 1320px;
    height: 100px;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    background-color: #ccc;
}
.box{
    width: 70px;
    height: 100%;
    margin-right: 40px;
    background-color: skyblue;
}
*/
.inner{
    max-width: 1320px;
    height: 100px;
    padding: 40px;
    display: flex;
    margin: 0 auto;
    background-color: #ccc;
}
.box{
    width: 85px;
    height: 100%;
    margin-right: 20px;
    background-color: skyblue;
}

.box:nth-child(even){
    background: pink;
}
.box:last-child{
    margin-right: 0;
}