@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --font-color: #3e3e3e;
    --main-color: #FFC356;
    --mainbg-color: #f5f5f7;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--font-color);
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
img{
    vertical-align: top;
    object-fit: cover;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
button:focus{ outline:0; }
.innerWrap{
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* header */
header{
    position: relative;
    z-index: 999;
    /* display: none; */
}
header .mainheader{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    padding: 10px 0;
}
header .mainheader .innerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .mainheader .menuBtn{
    width: 30px;
}
header .mainheader .menuBtn img{}

header .mainheader .logo{
    width: 50px;
}
header .mainheader .logo img{}

header .mainheader .innerWrap{}
header .mainheader .util{
    display: flex;
    gap: 15px;
}
header .mainheader .util>div{}
header .mainheader .util>div a{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .mainheader .util>div a span{
    font-size: 30px;
}

nav{
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #f5f5f7;
    width: 20%;
    transition: all 0.3s;
}
nav>div{
    padding: 0 20px;
}
nav .close{
    display: flex;
    justify-content: end;
    padding: 20px;
}
nav .close .closeBtn{
    display: flex;
}
nav .close .closeBtn span{
    font-size: 30px;
}
nav .menuWrap{
    height: calc(-155px + 100dvh);
    overflow: hidden auto;
    scroll-behavior: smooth;
    /* scrollbar-color: #1a1a1a #f5f5f7; */
    scrollbar-color: var(--font-color) #fff;
    scrollbar-width: thin;
    padding-top: 20px;
}
nav .menuWrap .menu{
    margin-bottom: 1rem;
}
nav .menuWrap .menu li{
    margin-bottom: 8px;
}
nav .menuWrap .menu li a{
    font-size: 16px;
    position: relative;
    padding-bottom: 4px;
}
nav .menuWrap .menu li a::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--font-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
nav .menuWrap .menu li:hover a::after {
    transform: scaleX(1);
}
nav .menuWrap .menu .headphone span{
    padding: 3px 6px;
    background-color: var(--main-color);
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
nav .nav_util{
    border-top: 1px solid #CECECF;
    padding: 10px 20px;
}
nav .nav_util>div{}
nav .nav_util>div a{
    display: flex;
    align-items: center;
}
nav .nav_util .myPage{
    margin-bottom: 5px;
}
nav .nav_util>div a span{}
nav .nav_util>div a .txt{
    font-size: 14px;
    padding-left: 10px;
}

/* 2번째 섹션부터 나오는 header */
header .subnav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.3s;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
}
header .subnav.view{
    transform: translateY(0);
}
header .subnav .innerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.subnav .logo{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
}
.subnav .logo .icon{
    display: inline-flex;
    transition: transform .3s;
    cursor: pointer;
}
.subnav .logo .icon span{
    font-size: 26px;
}
.subnav .logo .icon.rotate{
    transform: rotate(180deg);
}
.subnav .rightbox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.subnav .rightbox p{
    margin-left: 1.5rem;
    font-size: 12px;
    cursor: pointer;
}
.subnav .rightbox .shop{
    width: 100px;
    background-color: var(--main-color);
    border-radius: 30px;
    font-size: 12px;
    padding: 8px 0;
}
.subnav .rightbox .shop:hover{
    background-color: #FCFAEE;
}
.subnav .mbclick{
    padding: 16px 20px;
    background-color: var(--mainbg-color);
    border-bottom: 1px solid #f5f5f5;
    display: none;
}
.subnav .mbclick span{
    margin-right: 1rem;
    cursor: pointer;
}

/* banner */
.banner{
    padding: 430px 0;
    background-color: #f8f8f8;
    overflow: hidden;
}
.banner .innerWrap{
    position: relative;
}
.banner h3{
    font-size: calc((300* 100 / 1920)* 1vw);
    width: 102%;
    white-space: nowrap;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;

    position: relative;
    transition: transform 0.2s ease-out;
}
.banner .imgbox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.banner .imgbox img{}

/* priceWrap */
.priceWrap{
    width: 100%;
    background-color: var(--mainbg-color);
    padding: 50px 0;
}
.priceWrap .innerWrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.priceWrap .leftBox{
    width: 100%;
    max-height: 650px;
    position: relative;
    text-align: center;
}
.priceWrap .leftBox .viewCon{
    display: none;
}
.priceWrap .leftBox .viewCon:first-child{
    display: block;
}
.priceWrap .swiper-pagination-bullet-active{
    background-color: var(--main-color);
}

.priceWrap .rightBox{
    width: 100%;
}
.priceWrap .rightBox .txtBox{}
.priceWrap .txtBox .logo{
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.priceWrap .txtBox .tit{
    font-size: 2rem;
    padding: 8px 0;
}
.priceWrap .txtBox .txt{
    font-size: 16px;
    padding: 10px 0 20px;
}
.priceWrap .rightBox .txtBox .accessory{
    color: #8C8C8C;
    font-size:16px;
}
.priceWrap .rightBox .txtBox .accessory a{
    text-decoration: underline;
    cursor: pointer;
    font-size:16px;
}

.priceWrap .rightBox .colorWrap{}
.priceWrap .rightBox .colorWrap .colorBox{
    display: flex;
    padding: 30px 0 8px;
}
.priceWrap .colorWrap .colorBox li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #fff;
    border: 1px solid var(--font-color);
    padding: 5px;
    overflow: hidden;
}
.priceWrap .colorWrap .colorBox li span{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-indent: -9999px;
    transition: transform 0.3s ease;
}
.priceWrap .colorWrap .colorBox li:nth-child(1) span{
    background-color: #DFCAA7;
}
.priceWrap .colorWrap .colorBox li:nth-child(2) span{
    background-color: #DADADA;
}
.priceWrap .colorWrap .colorBox li:nth-child(3) span{
    background-color: #242528;
}
.priceWrap .colorWrap .colorBox li:hover span{
    transform: scale(2);
}
.priceWrap .rightBox .colorBox li.active span{
    transform: scale(2);
}
.priceWrap .colorWrap .colorTxt{
    width: 100%;
    font-size: 12px;
    color: #767677;
}
.priceWrap .colorWrap .price{
    font-weight: 600;
    font-size: 1.5rem;
    padding: 30px 0;
}
.priceWrap .rightBox .buyWrap{
    padding: 20px 0;
}
.priceWrap .rightBox .buyWrap li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* padding: 10px 0; */
    background-color: var(--main-color);
    font-weight: 500;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid var(--font-color);
    
}
.priceWrap .rightBox .buyWrap li:first-child{
    border: 0;
}
.priceWrap .rightBox .buyWrap li a{
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: background-color .3s;
}
.priceWrap .rightBox .buyWrap li:hover a{
    background-color: var(--font-color);
    color: #fff;
}
.priceWrap .rightBox .service{
    display: flex;
}
.priceWrap .rightBox .service li{
    position: relative;
    margin-right: 1rem;
    padding-left: 1rem;
}
.priceWrap .rightBox .service li a{
    font-size: 14px;
}


/* container */
.container{}
.container>.con{
    padding: 150px 0;
    overflow: hidden;
}
.container .con1{}
.container .con1 .item{
    height: 500px;
    display: flex;
    align-items: center;
}
/* .con1  특징1*/
.con1 .item .imgbox{
    width: 50%;
    height: 100%;
}
.con1 .item .imgbox img{
    max-height: 100%;
    width: 100%;
}
.con1 .item .txtBox{
    width: 50%;
    padding: 40px;
}
/* 공통 ↓*/
.con .item .txtBox .tit{
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.con .item .txtBox .txt{
    word-break: keep-all;
}
/* 공통 ↑*/
.con1 .item2{
    flex-direction: row-reverse;
    margin: 40px 0;
}
.con1 .item2 .imgbox{
    position: relative;
}
.con1 .item2 .imgbox img{
    position: absolute;
    aspect-ratio: 1 / 1;
}
.con1 .item2 .imgbox .detail_1{
    width: 260px;
    bottom: 0;
    left: 0;
}
.con1 .item2 .imgbox .detail_2{
    width: 350px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}
.con1 .item2 .imgbox .detail_3{
    width: 260px;
    bottom: -40px;
    right: 0;
}

.con1 .item3 .txtBox,
.con5 .item2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* con1, con5 자세히보기 링크 +con6*/
/* .con1{
    position: relative;
}  지워도 될듯*/
.con1 .link{
    justify-content: start;
    margin-left: 40px;
}
.con5 .link{
    justify-content: flex-end;
}
/* 백업 */
/* .con1 .item3,
.con5 .item2{
    position: relative;
} */
.con .link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    display: flex;
    align-items: flex-end;
    z-index: 1;
}
.con .link .linkbtn{
    position: sticky;
    bottom: 30px;
    /* margin-bottom: 30px; */
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f8f8f8; */
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 10px 20px;
}
.con .linkbtn .btntxt{
    font-weight: 600;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
}
.con .linkbtn .plus{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    border-radius: 50%;
    margin-left: 1rem;
    transition: opacity .5s;
    padding: 7px;
}
.con .link .plus img{
    opacity: 0.5;
}
.con .link:hover .plus img{
    opacity: 1;
}

/* con2 특징2 scroll 효과*/
.con2{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 70px;
    background-color: #000;
    padding-bottom: 200px;
}
.con2 #bg_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
}
.con2 .innerWrap{
    position: relative;
    z-index: 1;
    padding-top: 150px;
}
.con2 .txtBox{
    padding-top: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 1280px;
    width: 100%;
    transform: translateX(-50%);
    z-index: 9;
    mix-blend-mode: overlay;
}
.con2 .txtBox span{
    color: #fff;
    font-size: 3rem;
    opacity: 0.35;
    font-weight: 900;
}
.con2 .txtBox span.on{
    opacity: 1;
}
.con2 .imgbox{}

/* 수정할 부분 */
.con2 .imgbox > div{
    height: 100vh;
    display: flex;
    align-items: center;
}
/* .con2 .imgbox > div::after{
    content: '';
    display: block;
    width: 500px;
    height: 500px;
    background-color: #ccc;
} */
/* .con2 .imgbox > div:nth-child(2)::after{
    margin-left: auto;
} */
 .con2 .imgbox >div:nth-child(2){
    justify-content: flex-end;
 }
.con2 .bottomTxt{
    width: 100%;
    position: absolute;
    bottom: 80px;
}
.con2 .bottomTxt p{
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}

/* .con3 특징3 (.con6 대칭)*/
.symmetry .itemWrap{
    display: flex;
    gap: 40px;
}
.symmetry .item .txtBox{
    padding: 60px 0;
}
.symmetry .item{
    display: flex;
    justify-content: space-between;
}
.symmetry .item1{
    width: calc(43% - 20px);
    flex-direction: column;
}
.symmetry .item2{
    width: calc(57% - 20px);
    flex-direction: column-reverse;
}
.symmetry .item img{
    aspect-ratio: 1 / 1;
}

/* .con4 특징4 슬라이드 */
.con4.con{
    padding: 140px 0 50px;
    background-color: var(--mainbg-color);
}
.con4 .innerWrap{
    padding-right: 0;
}
.con4 .sdWrap{
    /* 스와이퍼수정 */
    position: relative;
    padding-bottom: 80px;
}
.con4 .sdWrap .item{
    width: 33%;
}
.con4 .sdWrap .item .imgbox{
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 20px;
}
.con4 .sdWrap .item .imgbox img{
    width: 100%;
    height: 100%;
}
.con4 .sdWrap .item #arc_video{
    object-fit: cover;
    max-height: 100%;
    transform: translateX(-20%);
}
.con4 .sdWrap .item .txtBox .txt{
    font-size: 16px;
}
.con4 .sdWrap .swiperBtn{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    bottom: 0;
}
.con4 .sdWrap .swiperBtn .swiper-button-next,
.con4 .sdWrap .swiperBtn .swiper-button-prev{
    top: unset !important;
    left: unset !important;
    bottom: unset !important;
    right: auto !important;
    position: unset !important;
    width: 40px;
    height: 40px;
    background-color: #E2E2E5;
    color: #767677;
    border-radius: 50%;
    margin: 0 10px;
}
.con4 .sdWrap .swiper-button-next::after,
.con4 .sdWrap .swiper-button-prev::after{
    font-size: 20px;
    font-weight: 900;
}

/* .con5 특징5 .con3대칭 */
.con5 .itemWrap{
    flex-direction: row-reverse;
}
/* con6 캔버스*/
.con6{
    padding: 120px 0;
}
.con6 .tit{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    word-break: keep-all;
    padding-bottom: 100px;
}
.con6 .tit span{
    display: block;
    /* font-size: ; */
}
.con6 .sdCanvas{}
.con6 .item{
    /* width: 65%; */
    width: calc(65% - 40px);
    max-height: 600px;
}
/*↓ .prieceWrap-viewBox, .con6-sdCanvas 공통버튼 ↓*/
.viewBox .sdBtn,
.sdCanvas .sdBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--mainbg-color);
    opacity: 0;
    transition: all 0.3s ease;
}
.viewBox .sdBtn::after,
.sdCanvas .sdBtn::after{
    font-size: 24px;
    color: var(--font-color);
    transition: color 0.3s ease;
}
/* hover시 버튼이 보이게 */
.viewBox:hover .sdBtn,
.sdCanvas:hover .sdBtn{
    opacity: 1;
}

/* hover시 색 변경 */
.viewBox .sdBtn:hover,
.sdCanvas .sdBtn:hover{
    background-color: rgba(0,0,0,.3);
}
.viewBox .sdBtn:hover:after,
.sdCanvas .sdBtn:hover:after{
    color: var(--mainbg-color);
}
/*↑ .prieceWrap-viewBox, .con6-sdCanvas 공통버튼 ↑*/

.con6 .linkBox{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 80px 0;
}
.con6 .linkBox .link{
    justify-content: center;
}


/* 제품 세부 정보 */
.infoWrap{
    background-color: #FCFAEE;
    padding-top: 80px;
}
.infoWrap .innerWrap{
    display: flex;
    gap: 40px;
}
.infoWrap .left{
    width: 40%;
}
.infoWrap .left .tit{
    font-size: 2rem;
    font-weight: 600;
    word-break: keep-all;
}
.infoWrap .left .downWrap{}
.infoWrap .infoContainer .downWrap .down{
    margin-top: 20px;
}
.infoWrap .infoContainer .down a{}
.infoWrap .infoContainer .down a .txt{
    font-weight: 600;
    position: relative;
    padding-left: 30px;
}
.infoWrap .infoContainer .down a .txt::before{
    content: "download";
    font-family: 'Material Icons';
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.infoWrap .infoContainer .left .site{
    padding: 8px 30px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 30px;
    font-weight: 600;
    color: #fff;
    margin-top: 50px;
    transition: background-color .3s;
}
.infoWrap .infoContainer .left .site:hover{
    background-color: var(--mainbg-color);
    color: var(--font-color);
    border: 1px solid var(--mainbg-color);
}

.infoWrap .right{
    width: 60%;
}
.infoWrap .infoContainer .right .listCon{
    margin-bottom: 8px;
}
.listCon .tit{
    font-weight: 600;
    padding: 10px 0;
    padding-left: 10px;
    border-bottom: 1px solid #CECECF;
    cursor: pointer;
    position: relative;
}
.listCon .tit::after{
    content: "stat_minus_1";
    font-family: 'Material Symbols Outlined';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
}
.listCon .tit.rotate::after {
    transform: translateY(-50%) rotate(180deg);
}

.infoWrap .infoContainer .listCon .list{
    padding-top: 12px;
    padding-left: 2rem;
    display: none;
}
.infoWrap .infoContainer .listCon .list li{
    font-size: 14px;
    line-height: 1.5;
}

/* 가입 혜택*/
.infoContainer{}
.infoWrap .joinWrap{
    padding: 80px 0;
}
.joinWrap .left{}
.joinWrap .tit{}
.joinWrap .tit span{
    display: block;
}
.joinWrap .right{}
.joinWrap .right ul{
}
.joinWrap .right ul li{
    position: relative;
    padding: 5px 0 5px 30px;
}
.priceWrap .rightBox .service li::before,
.joinWrap .right ul li::before{
    content: 'check';
    font-family: 'Material Icons';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.joinWrap .right .mailBox{
    padding-top: 20px;
}
.joinWrap .right .mailBox form{
    display: flex;
    background-color: var(--main-color);
}
.joinWrap .right .mailBox input{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    outline: 0;
    border: 0;
    font-size: 14px;
}
.joinWrap .right .mailBox label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* .joinWrap .right .mailBox label span{} */
.joinWrap .right .mailBox .terms{
    font-size: 12px;
    color: #8C8C8C;
    padding: 15px 0 0 10px;
}
.joinWrap .right .mailBox .terms a{
    font-size: 12px;
    text-decoration: underline;
}

/* footer */
footer{
    width: 100%;
    background-color: var(--mainbg-color);
    padding: 80px 0;
}
footer .f_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #CECECF;
}
footer .f_info .listCon{
    width: 100%;
}
footer .f_info .listCon .list{
    padding-top: 12px;
    padding-left: 10px;
    display: none;
}
footer .f_info .listCon .list li{
    padding: 5px 0;
}
footer .f_info .listCon .list li a{
    font-size: 14px;
}

/* 회사정보 언어선택 */
footer .copyright{
    display: flex;
    padding: 40px 0;
}
footer .copyright .copyinfo{}
footer .copyright .copyinfo ul{
    display: flex;
    flex-wrap: wrap;
    word-break: keep-all;
}
footer .copyright .copyinfo ul li{
    font-size: 12px;
    padding-right: 10px;
}
footer .copyright .copyinfo p{
    font-size: 14px;
    padding-top: 1rem;
}
footer .copyright .language{}
footer .copyright .language select{
    font-size: 14px;
    padding: 5px;
    background-color: transparent;
    outline: 0;
    border: 0;
}
footer .copyright .language select option{
    font-size: 14px;
}

/* 모바일 화면 스타일 */
@media screen and (min-width: 320px) and (max-width: 767px) {
.mb{display: block;}
.pc{display: none;}
*{font-size: 16px;}

/* header */
nav{
    width: 100%;
}

/* container */
.container{}
.container .con1 .item{
    height: 100%;
    flex-direction: column;
}
.container .con1 .item .imgbox{
    width: 100%;
}
.container .con1 .item .txtBox{
    width: 100%;
    padding: 40px 0;
}
.con1 .item2{
    flex-direction: row;
}
.con1 .item2 .imgbox{
    height: 500px;
}
.con1 .item2 .imgbox .detail_1{
    width: 250px;
    bottom: 40px;
}
.con1 .item2 .imgbox .detail_2{
    width: 250px;
    top: -20px;
}
.con1 .item2 .imgbox .detail_3{
    width: 250px;
    bottom: -20px;
}
.container .con1 .item3 .txtBox{
    padding: 40px 0 100px;
}
/* con1, con5 자세히보기 링크*/
.con1 .link{
    justify-content: center;
    margin-left: 0;
}
.con5 .link{
    justify-content: center;
}

/* con3, con5 */
.symmetry .itemWrap{
    flex-direction: column;
}
.symmetry .item{
    width: 100%;
}

.con4 .sdWrap .item{
    width: 66%;
}
.con5.con{
    padding: 0;
}

/* con6 캔버스*/
.con6{}
.con6 .innerWrap{
    padding: 0;
}
.con6 .tit{
    font-size: 2rem;
}
.con6 .tit span{
    /* font-size: ; */
}
.con6 .item{
    width: calc(100% - 40px);
}

/* 제품 세부 정보 */
.infoWrap .innerWrap{
    flex-direction: column;
    gap: 0;
}
.infoWrap .left{
    width: 100%;
    padding-bottom: 60px;
}
.infoWrap .right{
    width: 100%;
}
/* footer */
footer{
    padding: 0;
    padding-top: 50px;
}
footer .f_info{
    border-bottom: 0;
}
footer .copyright{
    flex-direction: column-reverse;
    padding-bottom: 60px;
}
footer .copyright .copyinfo{
    padding-top: 20px;
}

}/* 모바일 화면 끝 */

/* 태블릿 화면 스타일 */
@media screen and (min-width: 768px) and (max-width: 1024px) {

/* footer */
footer .f_info{
    border-bottom: 0;
}
footer .copyright{
    gap: 16px;
}

}/* 태블릿 화면 끝 */

/* 데스크탑 화면 스타일 */
@media screen and (min-width: 1025px) {
.mb{display: none;}
.pc{display: block;}

*{
    font-size: 18px;
}
/* header */
.subnav .logo .icon{
    display: none;
}
.subnav .mbclick{
    display: none;
}

/* priceWrap */
.priceWrap .innerWrap{
    flex-direction: row;
}
.priceWrap .leftBox{
    width: 50%;
}
.priceWrap .rightBox{
    width: 50%;
}
.priceWrap .rightBox .buyWrap li{
    width: 50%;
}
.priceWrap .rightBox .service{
    width: 50%;
    justify-content: space-between;
}

/* footer */
footer{
    padding-bottom: 20px;
}
footer .f_info{
    flex-direction: row;
}
footer .f_info .listCon{
    width: 20%;
}
footer .f_info .listCon .list{
    display: block;
}
footer .f_info .listCon .tit::after{
    display: none;
}
.listCon .tit.rotate::after {
    display: none;
}

}/* 데스크탑 화면 끝 */